@model ZayiflamaMerkeziTakip.Models.HastaTedavileri

@{
    ViewData["Title"] = "Delete";
}


<h3>Silmek İstediğinize Emin misiniz?</h3>
<div>
    <h4>HastaTedavileri</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BaslangicTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BaslangicTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BitisTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BitisTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notlar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notlar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hasta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hasta.HastaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tedavi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tedavi.TedaviId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="HastaTedaviId" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index">Geri Dön</a>
    </form>
</div>
