@model IEnumerable<ZayiflamaMerkeziTakip.Models.HastaTedavileri>

@{
    ViewData["Title"] = "Index";
}

<h1>Hasta Tedavileri</h1>

<p>
    <a asp-action="Create">Oluştur</a>
</p>
<table class="table table-bordered table-striped" id="list">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BaslangicTarihi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BitisTarihi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notlar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hasta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tedavi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BaslangicTarihi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BitisTarihi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notlar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hasta.Isim)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tedavi.TedaviAdi)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.HastaTedaviId">Düzenle</a> |
                    <a asp-action="Details" asp-route-id="@item.HastaTedaviId">Detaylar</a> |
                    <a asp-action="Delete" asp-route-id="@item.HastaTedaviId">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" />
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
<script type="text/javascript">
    var js = jQuery.noConflict(true);
    js(document).ready(function () {
        js('#list').DataTable({

        });
    });
</script>